<div class="container">
  <h3 class=" text-center">Messaging</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <button class="btn btn-primary" (click)="registerUser()">Register</button>
            <button class="btn btn-primary" (click)="getAllUser()">Refresh</button>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search" [(ngModel)]="username">
              <span class="input-group-addon">
            <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
            </span></div>
          </div>
        </div>
        <div class="inbox_chat">
          <div class="chat_list" *ngFor="let user of allUser" (click)="selectUser(user.name)" id="{{user.name}}">
            <div class="chat_people">
              <div class="chat_img"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="sunil"></div>
              <div class="chat_ib">
                <h5>{{user.name}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <h5 class="text-center mb-4">{{sendTo}}</h5>
        <div class="msg_history" #msg_history>
          <!--              <div class="incoming_msg">-->
          <!--                <div class="received_msg">-->
          <!--                  <div class="received_withd_msg">-->
          <!--                    <p>Test which is a new approach to have all-->
          <!--                      solutions</p>-->
          <!--                    <span class="time_date"> 11:01 AM    |    June 9</span></div>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--    <div class="outgoing_msg">-->
          <!--      <div class="sent_msg">-->
          <!--        <p>Test which is a new approach to have all-->
          <!--          solutions</p>-->
          <!--        <span class="time_date"> 11:01 AM    |    June 9</span></div>-->
          <!--    </div>-->
          <!--    <div class="incoming_msg">-->
          <!--      <div class="incoming_msg_img"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="sunil"></div>-->
          <!--      <div class="received_msg">-->
          <!--        <div class="received_withd_msg">-->
          <!--          <p>Test, which is a new approach to have</p>-->
          <!--          <span class="time_date"> 11:01 AM    |    Yesterday</span></div>-->
          <!--      </div>-->
          <!--    </div>-->
          <!--    <div class="outgoing_msg">-->
          <!--      <div class="sent_msg">-->
          <!--        <p>Apollo University, Delhi, India Test</p>-->
          <!--        <span class="time_date"> 11:01 AM    |    Today</span></div>-->
          <!--    </div>-->
          <!--    <div class="incoming_msg">-->
          <!--      <div class="incoming_msg_img"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="sunil"></div>-->
          <!--      <div class="received_msg">-->
          <!--        <div class="received_withd_msg">-->
          <!--          <p>We work directly with our designers and suppliers,-->
          <!--            and sell direct to you, which means quality, exclusive-->
          <!--            products, at a price anyone can afford.</p>-->
          <!--          <span class="time_date"> 11:01 AM    |    Today</span></div>-->
          <!--      </div>-->
          <!--    </div>-->
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="message"/>
            <button class="msg_send_btn" type="button" (click)="sendMessage()"><i class="fa fa-paper-plane-o"
                                                                                  aria-hidden="true"></i></button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
